{% extends 'base.html' %}
{% load static %}

{% block css_files%} 
<link rel="stylesheet" href="{% static "store/store.css" %}" /> 
{% endblock%} 

{% block title %}
<title>Coffe Pods</title>
{%endblock title %} 

{%block body %} 
{% include './includes/header.html'%}
<h1>This is Coffe Pods Page!</h1>

<form action="/coffe-store/coffe-pods/" method='POST'>
    {% csrf_token %}
    <div class='product_card' style="position:relative; left:35vw;">
        {{form}}
    </div>
    <button type='submit' style="position:relative; left:43vw; width:15vw; height:5vh;border-radius:10px;cursor:pointer;">Submit</button>
</form>

<div class='container'>
    {% for pod in  coffe_pods %}
        <div class="product_card">
            ID: {{pod.id}} <br>
            Type: {{pod.product_type | title}}<br>
            Flavor: {{pod.coffe_flavor}}<br>
            Pack Size: {{pod.pack_size}}<br>
            Beans Type: {{pod.beans_type}}<br>
        </div>
        {% endfor %}
    </div>
{% endblock%}